<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
</head>
<body>
    <div class="container">
        <h1>Main PAge Ejs</h1>
    </div>
    <%- include('./partials/navbar'); %>
    
</body>
</html>